.section {
  width: 100%;
  height: 810px;
  padding: 1.5rem 2rem;
  background: #02018c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.introtext {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.headtext {
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  line-height: 30px;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.box h4 {
  font-size: 18px;
  color: #fff;
  text-align: center;
  font-weight: 800;
  margin-bottom: 0;
}

.box p {
  font-size: 16px;
  color: #fff;
  text-align: center;
  width: 251px;
  height: 70px;
}

.section a {
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  min-height: 48px;
  text-align: center;
  width: 190px;
  outline: none;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #443df6;
}


@media (min-width: 768px) {
  .section {
    height: 460px;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }

  .headtext {
    font-size: 42px;
    line-height: 50px;
  }

  .steps {
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
  }

  .box h4 {
    font-size: 26px;
  }
}

@media (max-width: 363px) {
  .section {
    height: 850px;
  }
}



